

::selection { background-color: #E13300; color: white; }
::-moz-selection { background-color: #E13300; color: white; }

body {
  background-color: #fff;
  margin: 40px;
  font: 13px/20px normal Helvetica, Arial, sans-serif;
  color: #4F5155;
}

a {
  color: #4F5155;
  background-color: transparent;
  font-weight: normal;
  text-decoration: none;
  margin-right: 10px;
}

a.logout {
  
  float:right;
}

a:hover {
  color: #1eb9c8;
}

#table  {
  padding : 5px;
}

#table tr, td, td {
  padding : 5px;
}

#header {
  color: #444;
  background-color: transparent;
  border-bottom: 1px solid #D0D0D0;
  font-size: 14px;
  font-weight: normal;
  margin: 0 0 14px 0;
  padding: 14px 15px 10px 15px;
  text-decoration: none;
}

hr {
  border : 1px solid #4F5155;
}


code {
  font-family: Consolas, Monaco, Courier New, Courier, monospace;
  font-size: 12px;
  background-color: #f9f9f9;
  border: 1px solid #D0D0D0;
  color: #002166;
  display: block;
  margin: 14px 0 14px 0;
  padding: 12px 10px 12px 10px;
}

#body {
  margin: 0 15px 0 15px;
}

p.footer {
  text-align: right;
  font-size: 11px;
  border-top: 1px solid #D0D0D0;
  line-height: 32px;
  padding: 0 10px 0 10px;
  margin: 20px 0 0 0;
}

#container {
  margin: 10px;
  border: 1px solid #D0D0D0;
  box-shadow: 0 0 8px #D0D0D0;
}

.alert-success {
  color : rgb(10,227,116);
  font-weight: bold;
  font-size: 12px;
}
.alert-primary {
  color : #0073de;
  font-weight: bold;
  font-size: 12px;
}

.alert-danger {
  color : #d6363b;
  font-weight: bold;
  font-size: 12px;
}

.alert-warning {
  color : #d6a100;
  font-weight: bold;
  font-size: 12px;
}
